.center-box {
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.center-box h1 {
  margin-bottom: 25px;
}

.center-box .submit-btn {
  width: 100%;
  margin-top: 15px;
}

.option-box .submit-btn {
  width: 100%;
  margin: 15px 0;
  padding: 16px;
  font-size: 18px;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://image2url.com/r2/default/images/1770616024163-f7b27cc5-82fd-4ddc-8a92-41f3b622df78.png")
      no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.option-box {
  width: 90%;
  max-width: 420px; /* narrower box */
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.logo {
  width: 120px;
  margin-bottom: 25px;
}

.submit-btn {
  width: 100%;
  margin: 15px 0;
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #dc2626;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #b91c1c;
  transform: scale(1.03);
}
